<!--Panel for displaying List -->
	
	<!-- Div for choosing number of items to display -->
	<div class="small-12 medium-8 medium-offset-4 columns panel radius">
		<!-- Panel Title -->
		<div class="row">
			<h4>Search Parameter<h4>
		</div>
		<!-- Search panel body -->
		<div class="row">
			<div class="small-12 column">
				<div class="row">
					<div class="small-4 column">
						<label for="input-limit">Search by Name</label>
					</div>
					<div class="small-8 column">
						<input type="text" id="inputLimit" ng-model="animeListController.searchParameter.name" ng-model-options="{debounce : 1000}" ng-change="animeListController.onNameChange()">
					</div>
				</div>
			</div>
			<div class="small-12 column">
				<div class="row">
					<div class="small-4 column">
						<label for="input-limit">Number of Result</label>
					</div>
					<div class="small-8 column">
						<input type="number" id="inputLimit" ng-model="animeListController.searchParameter.limit" ng-model-options="{debounce : 500}" ng-change="animeListController.getAnimeList()">
					</div>
				</div>
			</div>
		</div>		
	</div>	

	<!-- Div for content -->
		<table class="full-width">
			<thead>
				<tr>
					<th> Id </th>
					<th> Type </th>
					<th> Name </th>
					<th> Date </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="anime in animeListController.animes | orderBy: 'name'">
					<td>
						<div><a href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id={{anime.id}}" target="_blank"> {{anime.id}} </a></div>
					</td>
					<td>
						<div> {{anime.type}}</div>
					</td>
					<td>
						<div> {{anime.name}}</div>
					</td>
					<td>
						<div> {{anime.date}}</div>
					</td>
					
				</tr>

			</tbody>
		</table>

		<!-- Div for table navigation button -->
		<div class="row">
			<div class="small-12 medium-6 medium-offset-6 column text-right">
				<button class="button small" 
					ng-click="animeListController.previousPage()" 
					ng-disabled="animeListController.isStart()">Previous</button>
				<button class="button small" ng-click="animeListController.nextPage()">Next</button>
			</div>		
		</div>